// Imports
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:slnt,wght@-10..0,100..900&family=Lumanosimo&display=swap');
// Fonts
$font: 'Inter', sans-serif;
$highlighted-font: "Bebas Neue", sans-serif;

// Colors
$color-1: #222a2c;
$color-2: #011826;
$color-3: #A27B5C;
$color-4: #DCD7C9;
$color-5: #F1F1F1;
$font-color: #222;

$darker-blue: #011826;
$dark-blue: #011826;
$heavy-blue: #033159;
$light-blue: #0A89A6;
$dark-green: #0e6565;
$green: #13F2F2;

$highlighted-font-color: #f7f7f7;
$page-header-font: "Lumanosimo", cursive;

$black: #010101;
$white: #f7f7f7;

$bg-color: #f1f1f1;

// Shadows
$shadow: #01010141;
$shadow-destaque: #DCD7C955;

$font-size: 16px;

// Highlighted Colors































$green: #84c4bd;
$gray: #dfc4d1;

// Size
$text-size: 3rem;
