@import "../abstract/variable";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px 0 20px;

    &__logo {

        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            width: 50px;
        }
        &-text {
            font-size: $font-size * 1.5;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
            letter-spacing: -2px;

            span {
                color: $dark-green;
            }
        }
    }

    & .header__nav {

        & .header__nav-list {
            display: flex;
            align-items: center;
            gap: 20px;

            & .header__nav-link {
                color: $font-color;
                font-size: $font-size * 1.5;
                font-weight: 500;
            }
            & .header__nav-link:hover {
                transition-duration: 0.125s;
                color: $color-2;

            }
        }
    }
}